# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.sqlite3

# VSCode / IDE
.vscode/
*.code-workspace

# Sistema operativo
.DS_Store
Thumbs.db

# Otros
*.log
